*{margin:0; padding:0}
:focus, :active{outline:0}
html{min-height:100%}
body{font-family:"Segoe UI","Lucida Grande", Arial,sans-serif; font-size:0.9em; background: #313131 none repeat scroll 0 0; color:#555; min-height:100%; }
body.contentpane{}

div.tuiyoTableRow{margin-bottom: 8px}
div.loginPageLogo{width :360px; margin: 90px auto 0px}
div.actionLinks{ margin: 5px auto; color: #fff; width: 360px; }
div.actionLinks a{color: #fff; font-size: 0.8em;}
div#loginPageCreate, div#loginPageSignIn, div#loginPageResetDetails{-moz-border-radius:6px; -khtml-border-radius:6px; background:none repeat scroll 0 0 #F0F0F0;margin:10px auto;max-width:360px;padding:25px 20px 25px 30px; -moz-box-shadow:1px 1px 5px #000; -khtml-box-shadow:1px 1px 5px #000 }
div#loginPageCreate{min-height:70px;}
div#authPage{margin: 10px auto; width: 450px }
ul#pageNavigation{margin-top: 40px; }
ul#pageNavigation li{-moz-border-radius: 6px; -khtml-border-radius: 6px; font-weight: bold; }
ul#pageNavigation li:hover{background: none }

/* System Messages */
dt.error, dt.message, dt.notice, dt.success{display:none; visibility:hidden}
#system-message    { margin-bottom: 25px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; /*text-indent: 30px;*/ }
#system-message dd ul { color: #0055BB; margin-bottom: 10px; list-style: none; padding: 10px; border-top: 3px solid #84A7DB; border-bottom: 3px solid #84A7DB; margin-left: 0px !important ;}

/* System Standard Messages */
#system-message dd.message {  }

/* System Error Messages */
#system-message dd.error ul { color: #c00; background-color: #E6C0C0; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}

/* System Notice Messages */
#system-message dd.success ul { color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}