.photosPageContainer{ background: #fff none repeat scroll 0 0 }
/*#pageLeftNav{float:left; margin:0; min-height:100%; padding:7px; width:200px; background:#E7ECF1 none repeat-y scroll 100% 0; border-right:1px solid #CCC}*/
#photosPageContent{}
#photosPageContainerBody{min-height: 700px; background: transparent none no-repat scroll 50% 50%}
.photosPageTitle{ margin-bottom:12px; min-height:32px;}
.photosPageMainPage{float:right; padding:14px 14px 10px 12px; width: 70%; background: #fff; line-height:1.6em; }
#hoempageFooter{clear:both; margin:0; padding:0.5em; color:#333; background-color:#ddd}
.photosPageDescription{border-top:1px solid #ccc; padding-bottom:5px; border-bottom:1px solid #CCC}


div.photoAlbumItem{border: 1px dotted #e1e1e1; margin: 1px; padding:4px; width: 31%; height: 44px}
div.albumIcon img{margin-top: 5px}
div.photoCount{ color:red !important; font-size:11px;font-weight:bold;margin-left:12px;margin-top:-43px;position:relative;width:19px;}
div.photoAlbumItem:hover{ background-color: #E9F8FC; border: 1px solid #ccc  }
div.albumDescr{line-height:15px;}
div.albumDescr i{font-size: 10px }
div.photosPageBigScreen{/*background-color:#272727; ; border:4px solid #777; color:#fff padding:0 15px 0 0;*/}
div.photosPageBigScreenInfo{ }

div.photosPageBigScreenItem{margin:3px; overflow:hidden; float:left; position:relative}
div.photosPageBigScreenItem a{text-decoration:none; float:left}
div.photosPageBigScreenItem a{background:#EEE none repeat scroll 0pt 0pt;}
div.photosPageBigScreenItem a:hover{cursor:pointer;  background:#EDF1F8 none repeat scroll 0pt 0pt; }

div.photosPageBigScreenItem a img{float:left;margin:2px;}
div.photosPageBigScreenItem a .desc{display:none}
div.photosPageBigScreenItem a:hover .desc{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; background:#111111 none repeat scroll 0 0; bottom:3px;color:#FFFFFF;display:block;left:3px;margin:0;opacity:0.75;padding:5px;position:absolute;width:90px;}
div.photosPageBigScreenItem a:hover .desc strong{display:block; margin-bottom:5px}
div.photosPageSlideShowMenu{z-index: 10}
div.slideShowControls{ padding: 3px 4px 8px; background: transparent url(../images/tuiyobg.png) repeat scroll 0 0; min-height:22px; z-index: 10}
div.bigScreen{overflow: hidden;}
div.bigScreen img{border: none; min-width: 100%; margin: auto }
.photosPageBigScreenInfoDiv{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)"; opacity: 0.45 }
.bigScreen{border: none !important }


/*Organization Panel */
div.photosPageBigScreenThumbs{background:#161616 none repeat scroll 0 0; border-top:4px solid #777777; border-bottom: 4px solid #777777; min-height:111px; padding:7px 0}
div.scrollThumbs{width:100%; overflow: auto;}
ul#thumbsList, ul.addedPhotos { margin: 0; display: block; line-style: none; min-height: 70px }
ul#thumbsList li, ul.addedPhotos li{ display: block; float: left; margin: 1px}
ul#thumbsList li img, ul.addedPhotos li img{ margin: 4px; border: 2px solid #ccc;  }
ul#thumbsList li:hover img, ul.addedPhotos li:hover img {
  filter:alpha(opacity=50);
  opacity: 0.5;
  cursor: move;
}
ul.addedPhotos{margin-left: 1px !important }
ul.addedPhotos li img{width: 79px; height: 79px}

/*Slideshow*/
#slideControls{background:none repeat scroll 0 0 #F7F7F7;border-top:1px solid #E8E8E8;margin-top:10px;padding:3px 0;}
#slideControls a.next{ background: url(../images/pagenav.png) no-repeat scroll -39px 0; width: 36px; height: 27px; text-indent: -999em }
#slideControls a.previous{ background: url(../images/pagenav.png) no-repeat scroll 0 0; width: 36px; height: 27px; text-indent: -999em }
.slideshowItemDescr{padding: 6px }
#slideShowBigScreen{background-color: #EDF1F8; width: 100%}
div.reporter{cursor:pointer;}
div.slideshowLink{ background: url(../icons/slideshow_16.png) no-repeat scroll 100% 50% transparent; min-width: 100px; }
