*{margin:0; padding:0}
*
:focus, :active{outline:0}
html{min-height:100%}
body.contentpane{font-family:"Kalinga",Segoe UI,Lucida Grande,sans-serif; font-size:0.8em; margin:0px; color:#555555 !important; min-height:100%; background:#F0F0F0 url(../images/body_bg.gif) repeat-y scroll 0 0}
body.contentpane a{color:#356AA0; text-decoration:none}
body.contentpane div.header{ line-height: 0.6em}
img{border:0}
h1{float:left; margin:20px 0 50px; font-size:4em}
h2{font-size:2.4em; font-weight:normal; margin:0 0 20px}
h2 a:hover, .contentheading a:hover{background:#356AA0; color:#fff}
.hr{color:#ccc}
ul{line-height:24px; margin-left:16px}
p{margin:5px 0 15px; line-height:1.6em}

.TuiyoForm fieldset, .fieldset{border:1px solid #eee; background:#FAFAFA none no-repeat scroll 0 0; padding:5px 10px 10px; margin-top:15px}
.TuiyoForm fieldset legend{background:#E8EDF3 none repeat scroll 0 0; border-color:#CCC; border-style:solid solid none; border-width:1px 1px medium; padding:0 8px}
.TuiyoForm input.TuiyoFormText{width:95%; padding:4px; border:1px solid #ccc; margin-bottom:6px}
.TuiyoForm select.TuiyoFormDropDown:focus, 
.TuiyoForm input.TuiyoFormText:focus{background-color:#F0FFFD; border:1px solid #C4DAF1}
.TuiyoForm select.TuiyoFormDropDown{border:1px solid #ccc; padding:4px; line-height:100%; margin: 0px }
.TuiyoForm select.TuiyoFormDropDown option{padding:2px 0 0 2px}
.TuiyoForm textarea.TuiyoFormTextArea{border:1px solid #ccc; padding:4px; width:95%; min-height:60px; font-size:125%; line-height:150%}
.TuiyoForm textarea.TuiyoFormTextArea,.TuiyoForm select.TuiyoFormDropDown option, .TuiyoForm select.TuiyoFormDropDown,.TuiyoForm select.TuiyoFormDropDown,.TuiyoForm input.TuiyoFormText, input.TuiyoFormRadio{font-family:segoe UI;font-size:13px; margin-bottom: 5px}
button{font-size: 12px !important }
.formTip{font-size: 11px; font-style: italic}

ul.publisherTabItems li{background:transparent url(../images/homepagePublisherTabBG.png) repeat-x scroll 0 0; border:1px solid #CCC; cursor:pointer; display:inline; float:left; line-height:29px; margin-bottom:-1px; margin-right:-3px !important; padding:0 12px 0 6px}
ul.publisherTabItems li.current{background:#fff; border-bottom:1px solid #fff}
ul.publisherTabItems li:hover{ background-color:#FEF4E7;  border:1px solid #C4DAF1 }
ul.publisherTabItems li img{margin-bottom:-3px; padding-right:2px;}
ul.publisherTabItems{margin-left:6px !important; /*margin-right:15px*/}
#adminPagePublisherTabs{border-bottom:1px solid #ccc; margin:1px -4px 8px;}
#adminPageTabContent{margin:-8px -4px -3px; background-color: #fff; min-height: 720px; padding:25px 0px;}
#cmtyAdminPage, .adminPageTabContentList{ background: #fff url(../../../../../components/com_tuiyo/client/default/images/databg_now.png) repeat scroll 0 0 !important; padding: 0px !important; min-height: 60em }

.indenter{ background:url("../images/indenter-bg.png") no-repeat scroll 0 50% transparent; border-left:1px dotted #CCCCCC; float:left; margin:0 2px; text-indent:-99999em; width:17px;}

.tuiyoTable{}
.tuiyoTableHeaderRow{border-bottom:1px dotted #ccc; font-weight:bold; background-color:#f4f4f4; color:#313131}
.tuiyoTableCell{float:left}
.tuiyoTableRow{}
.tuiyoTableEvenRow{background:#EEEEE9}
.tuiyoTableOddRow{background:#E1EEFA}
.tuiyoClearFloat{clear:both}


.TuiyoErrorMsg{background-color:#FEE1DE; border:1px solid #C80220; color:#C80220; margin-bottom:8px; padding:8px}
.TuiyoSuccessMsg{background-color:#D9FFEA; border:1px solid #00A445; color:#00A445; margin-bottom:8px; padding:8px}

.TuiyoAjaxLoading{background-attachment:scroll; background-color:transparent; background-image:none; background-position:0 0; background-repeat:repeat; float:right; margin-top:6px}

#homepageTop{background:transparent none repeat-x scroll 0 0; color:#fff; font-weight:400; min-height:43px; }
#homepageContainer{color:#333; line-height:130%; margin:0 auto; height:100%}
#homepageLeftnav{/*float:left; margin:0; min-height:1000px; padding:7px; width:18%; background:#E7ECF1 none repeat-y scroll 100% 0; border-right:1px solid #CCCbackground:#E7ECF1 none repeat-y scroll 100% 0;
border:1px solid #CCCCCC;
float:left;
margin:0;
padding:7px;
width:18%; */
left:0;
margin:0;
padding:0 6px 0 13px;
position:absolute;
top:0;
width:217px;
}
#homepageContent{line-height:1.6em; margin:0 30px 0 260px; padding:30px 1px 0; }
#hoempageFooter{clear:both; margin:0; padding:0.5em; color:#333; background-color:#ddd}

.homepageDescription{border-bottom:1px solid #CCC; border-top:1px solid #CCC; padding:5px 0; text-shadow:0 2px 0 white;}
.homepageWelcome{border-bottom:1px dashed #CCC; margin-bottom:6px; margin-top:0; padding-bottom:5px}
#homepageNavigation{margin-top:10px;  list-style:none; list-style:none; margin:auto}
#homepageNavigation li{list-style:none; font-size:12px; font-weight:400; min-height:28px; line-height:28px; cursor:pointer; /*text-shadow:0 1px 0 #FFFFFF;*/}
#homepageNavigation li a{color: #fff }
#homepageNavigation li.current a{color:#fff; /*text-shadow:0 1px 0 black;*/}
/*#homepageNavigation ul li.aTAHead:hover, #homepageNavigation li.dTABody ul li:hover{background:#c4daf1; margin-left:-7px; margin-right:-7px; padding-left:7px}*/
#homepageNavigation li.dTABody ul{ margin-left:-10px;
margin-right:-10px;
text-align:right; }
li.aTAHead{text-align: right }
#homepageNavigation li.dTABody ul li{ margin: 0 6px }
#homepageNavigation li img{padding-left:8px; margin-bottom:-3px}
#homepageNavigation li form{}
#homepageNavigation li{-moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -khtml-border-radius:5px 0 0 5px;
background:url("../images/CurrentFolder.png") repeat-x scroll 0 0 transparent;
color:#FFFFFF;
font-weight:bold;
margin-bottom:12px;
margin-top:12px;
padding:0 10px;}
#homepageNavigation li.current{ background:url("../images/CurrentFolder_ON.png") repeat-x scroll 0 0 transparent;}
#homepageNavigation li.current a{color: #555555 !important}
#homepageNavigation li ul li, li.dTABody{background: none !important; }

ul#TuiyoAdminMenu{margin-left: 19%; padding:5px; text-shadow:0 1px 0 black;}
ul#TuiyoAdminMenu li.level1 a:hover{background:#808080; color:#fff; -moz-border-radius-topleft:5px;-moz-border-radius-topright:5px ;-khtml-border-top-right-radius: 5px; -khtml-border-top-left-radius: 5px; padding-bottom: 15px}
ul#TuiyoAdminMenu li.level1 a.active{background:#356AA0; color:#fff; -moz-border-radius-topleft:5px;-moz-border-radius-topright:5px ;-khtml-border-top-right-radius: 5px; -khtml-border-top-left-radius: 5px; padding-bottom: 15px }
ul#TuiyoAdminMenu li.level1 a{color:#fff; text-decoration:none; padding:6px 8px}
ul#TuiyoAdminMenu li.level1{cursor:pointer; display:inline; line-height:29px; margin-bottom:-1px; margin-left:4px; padding:0 12px 0 6px}
ul#TuiyoAdminMenu ul.level2{background-attachment:scroll; background-color:#356AA0; /*border:1px solid #000; border-top:1px solid #272727;*/ color:#fff; left:94px; margin-top:8px; padding:8px; width:175px; position:absolute; font-weight:500; list-style:none; -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px;-khtml-border-bottom-left-radius:6px; -khtml-border-bottom-right-radius:6px; line-height:29px;-moz-box-shadow:4px 4px 4px #313131; -khtml-box-shadow:4px 4px 4px #313131;}
ul#TuiyoAdminMenu ul.level2 li img{float:right; padding:3px 0 0}
ul#TuiyoAdminMenu ul.level2 li:hover{background:#808080; margin-left:-8px; margin-right:-8px; padding-left:8px; padding-right:8px}

#homepageNavigation li .searchIcon{float:left; margin-bottom:-4px; padding-top:6px}
#homepageNavigation li .searchInputText{border:1px solid #CCC; margin-right:-5px; padding:4px; width:168px; float:left}
#homepageNavigation li .searchSubmitButton{background:#F4F4F4 url(../images/searchgo.png) no-repeat scroll 50% 50%; border:1px solid #CCC; width:27px; min-height:17px}

#homepagePublisher{border:1px solid #e4e4e4; padding:5px; background:#EDF1F8 none repeat scroll 0pt 0pt; width:98%}
.homepagePublisherContainer{margin-bottom:10px}
.psubmit{width:100%; height:50px}


div.aTAHead{border:1px solid #ccc; font-size:100%; font-weight:bold; cursor:pointer; padding:4px; margin:2px; background:transparent url(../images/homepagePublisherTabBG.png) repeat-x scroll 0 0}
div.aTAHead img{border:none; margin:0 4px -3px}
div.dTABody{margin:4px 2px}

div.icon{margin:2px}
div.icon a{border:1px solid transparent; color:#555; display:block; min-height:50px; padding:2px 5px 5px 5px; text-decoration:none; vertical-align:middle; width:84px !important}
div.icon img{margin-top:13px}
div.icon span{display:block; padding-top:3px}
div.tuiyoApplicationItem .icon a, div.icon a:hover{background:#f9f9f9 none no-repeat 50% 50%; border-bottom:1px solid #d5d5d5; border-left:1px solid #eee; border-right:1px solid #d5d5d5; border-top:1px solid #eee; color:#356AA0; padding:3px 4px 0px 6px; padding-bottom:4px}
div.tuiyoApplicationItem:hover{border:1px solid #e4e4e4; background-color:#EDF1F8}

.tuiyoApplicationListMenu{margin:5px 0px 0px; list-style:none}
.tuiyoApplicationListMenu li{line-height:22px; padding:4px}
.tuiyoApplicationListMenu li.current{border-color:#CCC #FFF #CCC #CCC; border-style:solid; border-width:1px; margin-right:-1px}
.tuiyoApplicationListMenu li.current:hover{background:none}
.tuiyoApplicationListMenu li:hover{background:#E7ECF1}
.tuiyoApplicationItem{border:1px solid #eee; margin:6px 0}

.window{/*background:#FFF none repeat scroll 0 0; border:1px solid #EBEBEB; margin:-1px -2px 0; padding:0;*/}
.windowTitleBar{background:url("../images/bg-content-box.gif") repeat-x scroll 0 0 transparent;
border-bottom:1px solid #CCCCCC;
line-height:36px;
padding:0 7px 0; }
.windowTitleBar img{margin-bottom:-3px; padding-right:3px;}
.windowBody{min-height:60em;}
textarea#automationPrompt{ background: #000; color:green; font-family:courier; font-size:14px; line-height:18px; min-height:700px; width:98%;}


.windowWrapperShadow{ width:100%}
.windowWrapper{ -moz-border-radius:6px 6px 6px 6px; -webkit-border-radius:6px 6px 6px 6px; 
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #E1E1E1;
margin:0 0 20px 0;
padding:1px; }


div#pageContainer{margin: 0px; background: transparent url(../images/bg-radial-gradient.gif) no-repeat fixed 230px 0}

dt.error, dt.message, dt.notice, dt.success{display:none; visibility: hidden}
#system-message { margin-left:3px; /*width:78%;*/ margin-bottom: 30px }
#system-message dd.message ul, #system-message dd.error ul, #system-message dd.notice ul{margin:0; margin-bottom:10px; padding:0; background-position: 5px 50% !important }
#system-message dd.message ul li, #system-message dd.error ul li, #system-message dd.notice ul li{padding:7px; list-style-image:none; list-style-position:outside; list-style-type:none}

#system-message dd.message ul{  color:#0D68E4; padding-left: 30px; border-top: 3px solid #0D68E4;  border-bottom: 3px solid #0D68E4 ;}
#system-message dd.message ul a {color:#0D68E4; font-weight: bold; }
#system-message dd.error ul{ color:#DE733F; padding-left: 30px;  }
#system-message dd.error ul a{ color:#CC0000; font-weight: bold;  }
#system-message dd.notice ul{ color:#DE733F !important; padding-left: 30px;  }
#system-message dd.notice ul a{ color:#DE733F; font-weight: bold;  }
#system-message dd.success ul{ color:#5C841B; padding-left: 30px;  }
#system-message dd.success ul a{ color:#5C841B; font-weight: bold; }

.globalMessage{ border: 1px solid #F60; background: #FFF5E1 none repeat-x scroll 0 0; color: #F60 !important; padding: 10px}

/*Dashboard*/
div.dashBoardWidget, div.dashBoardSideBarWidget{/* border:1px solid #c6c6c6;*/ background:#f4f4f4; }
div.dashBoardWidget{margin: 0px 7px 15px 0px }
div.dashBoardWidgetHeader{ background:transparent url(../images/dashboardWidgetTitleBG.png) repeat-x scroll 0 0; color:#FFFFFF; font-weight:bold; height:27px; line-height:27px; margin:-1px; padding-left:11px; }
div.dashBoardWidgetBody{padding: 4px; }

div.dashBoardSideBarWidget{margin: 0px 0px 15px 7px }
div.dashBoardSideBarWidgetHeader, div.dashBoardWidgetBodySubHead{ font-weight:bold; height:27px; line-height:27px; border-bottom: 1px solid #c6c6c6; margin: 0 2px; padding-left:5px; }
div.dashBoardSideBarWidgetBody{ padding: 4px}
.collapser{ }
.fileStoreAllowanceFill, 
.systemProgressFill{/*border: 1px solid #cf4700;*/ background: blue url(../images/CurrentFolder.png) repeat-x scroll 0 0; height:20px; margin: -1px}
#fileStoreAllowance, #systemProgress, #profilePoints{ height: 20px; background-color: antiqueWhite; margin: 9px auto; width: 97%;}
.systemNoticesItem{/*background:#FDE8C0;*/ margin:8px; padding-bottom:5px; border-bottom: 1px dotted #ccc}

div.friendSuggest{border-bottom: 1px dotted #ccc; margin:7px; }
div.friendSuggestItemUserBody{ font-size: 10px; line-height: 13px }

div#bugReporting .tuiyoTableCell{margin:6px 0;}

.configLinkItem{color: #356AA0; cursor: pointer; margin:0 -10px; padding:7px; }
.configLinkItem:hover{ background-color:#FEF4E7 }
.configLinkItemApp{border: 1px solid #ccc; margin: 2px; padding: 4px; color: #356AA0;  cursor: pointer;}
.configLinkItemApp:hover{ background-color:#FEF4E7;  border:1px solid #C4DAF1 }

div#configLinksWidget .currentLink{background:#E3F2FC none repeat scroll 0 0; border:1px solid #53A2F4; margin: 2px; padding: 4px; width: 45%; }
.tuiyoListRow:hover{ background: #F7F9AC; cursor: pointer }
.tuiyoListRow{line-height:21px; margin: 0px}

#TuiyoAjaxLoading{ left:135px; display: none; position:absolute; top:55px;}

/* User Management */
a.refresh{text-indent:-9999em !important; float:left; width: 16px; background:url(../../../../../components/com_tuiyo/client/default/icons/repost_16.png) no-repeat scroll 50% 50% transparent; margin:0px 5px;}
a.suspend{ text-indent:-9999em !important; float:left;  width: 16px; background: url(../../../../../components/com_tuiyo/client/default/icons/banned_16.png) no-repeat scroll 50% 50% transparent; margin:0px 5px;}
a.delete{ text-indent:-9999em !important; float:left;  width: 16px; background: url(../../../../../components/com_tuiyo/client/default/icons/delete_16.png) no-repeat scroll 50% 50% transparent; margin:0px 5px;}
a.notes{ text-indent:-9999em !important; float:left;  width: 16px; background: url(../../../../../components/com_tuiyo/client/default/icons/file_txt_16.png) no-repeat scroll 50% 50% transparent; margin:0px 5px;}

div.profileBox{ background: #fff none scroll 0 0; height: 116px; padding: 4px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc }
div.selectedRow{background: #FFCC99 none repeat scroll 0 0 }
div.miniProfileData{border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;height:124px;margin:-4px 0;padding-left:5px;}

/* Custom Fields */
#clickToAdd{ border-bottom: 1px dotted #CCCCCC; cursor:pointer; margin: 0;
padding:8px; background: antiqueWhite url(../../../../../components/com_tuiyo/client/default/icons/add.png) 98% 50% scroll no-repeat}
#clickToSave{ border-bottom:1px dotted #CCCCCC; cursor:pointer; margin: 0;
padding:8px; background: papayaWhip url(../../../../../components/com_tuiyo/client/default/icons/save.png) 98% 50% scroll no-repeat}
.clickToRemove{ background:url(../../../../../components/com_tuiyo/client/default/icons/delete.png) 50% 50% scroll no-repeat; cursor: pointer }
.clickToMove{ background:url(../../../../../components/com_tuiyo/client/default/icons/file_move.png) 50% 50% scroll no-repeat; cursor: move; }
.fieldListItem{padding: 5px 0pt 5px; border-bottom:1px dotted #CCCCCC; } 
.iText{text-indent: -9999em}
.fieldListItem .tick{background: transparent url(../../../../../components/com_tuiyo/client/default/icons/tick_16.png) no-repeat scroll 50% 50%; }
.fieldListItem .notick{background: transparent url(../../../../../components/com_tuiyo/client/default/icons/delete_16.png) no-repeat scroll 50% 50%; }
